@page "/redirecttologin"
@inject NavigationManager _navigationManager
<h3>RedirectToLogin</h3>

@code {
    protected override void OnInitialized()
    {
        _navigationManager.NavigateTo("/auth/login");
    }
}